{
    "extends": "standard",
    "plugins": ["html", "react"],
    "rules": {
        "indent": ["error", 4],
        "react/jsx-uses-react": "error",   
        "react/jsx-uses-vars": "error",
        "camelcase": ["error",
            {
                "allow": [
                    "still_path",
                    "season_number",
                    "episode_number"
                ]
            }
        ]
    },
    "env": {
        "es6": true,
        "browser": true,
        "commonjs": true
    },
    "parser": "babel-eslint"
}
